<ng-container *ngIf="charge">
  <div class="p-4">
    <div class="mat-elevation-z1 p-4 xl:w-1/2">
      <h1 class="mat-headline">Edit Charge</h1>
      <app-charge-form [charge]="charge"></app-charge-form>
      <button
        mat-flat-button
        type="button"
        (click)="save()"
        color="primary"
        class="mr-2"
      >
        SAVE CHANGES
      </button>
      <button mat-stroked-button type="button" (click)="cancel()">
        CANCEL
      </button>
    </div>
  </div>
</ng-container>
