<nav>
  <ng-container *ngFor="let menuItem of menuItems">
    <!-- Menu link -->
    <ng-container>
      <a mat-button class="menu-item" [routerLink]="menuItem.route">
        <mat-icon class="menu-icon">{{ menuItem.icon }}</mat-icon>
        <span>{{ menuItem.label }}</span>
      </a>
    </ng-container>

    <!-- Submenus -->
    <!-- <ng-template #elseBlock>
      <a mat-button class="menu-item" (click)="toggle(menuItem)">
        <mat-icon class="menu-icon">{{ menuItem.icon }}</mat-icon>
        <span>{{ menuItem.label }}</span>
        <mat-icon>
          {{ menuItem.toggled ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </a>

      <nav *ngIf="menuItem.toggled">
        <a
          *ngFor="let subMenuItem of menuItem.items"
          [routerLink]="subMenuItem.route"
          mat-button
          class="submenu-item"
        >
          <span>{{ subMenuItem.label }}</span>
        </a>
      </nav>
    </ng-template> -->
  </ng-container>
</nav>
