<form [formGroup]="formGroup" class="mat-typography">
  <h3>Billing Month</h3>
  <div class="flex flex-wrap -mx-2">
    <div class="w-2/3">
      <mat-form-field appearance="outline" class="w-full px-2">
        <mat-label>Month *</mat-label>
        <mat-select formControlName="month" (selectionChange)="trigger()">
          <mat-option *ngFor="let month of months" [value]="month.id">
            {{ month.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-1/3">
      <mat-form-field appearance="outline" class="w-full px-2">
        <mat-label>Year *</mat-label>
        <input
          matInput
          type="number"
          (input)="trigger()"
          maxlength="4"
          formControlName="year"
          autocomplete="off"
        />
        <mat-error>Year must be 4 characters.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="w-full">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Begin Date</mat-label>
      <input matInput [matDatepicker]="beginDate" formControlName="beginDate" />
      <mat-datepicker-toggle
        matSuffix
        [for]="beginDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #beginDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="w-full">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endDate" formControlName="endDate" />
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
  </div>
</form>
