<div class="container mx-auto">
  <div class="mat-elevation-z1 bg-gray-200 mt-2">
    <div class="justify-end items-center flex">
      <div
        class="rounded-full h-5 w-5 border bg-white border-gray-700 ml-5"
      ></div>
      Available
      <div class="rounded-full h-5 w-5 bg-yellow-500 ml-5"></div>
      Hold
      <div class="rounded-full h-5 w-5 bg-pink-500 ml-5"></div>
      Reserved
      <div class="rounded-full h-5 w-5 bg-blue-500 ml-5"></div>
      Rented
      <div class="rounded-full h-5 w-5 bg-gray-500 ml-5"></div>
      Disabled

      <mat-form-field class="w-1/4 ml-5 mr-5">
        <mat-label> <mat-icon>search</mat-icon> Search</mat-label>
        <input
          type="text"
          #search
          matInput
          autocomplete="off"
          (input)="filter(search.value)"
        />
      </mat-form-field>
    </div>
  </div>

  <ng-container *ngFor="let data of chart">
    <div *ngIf="data.rooms.length > 0">
      <div class="mat-elevation-z1 mt-5 p-2">
        <div class="font-bold text-2xl">{{ data.name }}</div>
        <div class="flex flex-wrap">
          <div
            *ngFor="let room of data.rooms"
            class="xl:w-1/6 lg:w-1/6 sm:w-2/6 md border bg-white relative mt-2"
          >
            <div
              class="absolute bottom-0 right-0 bg-gray-700 text-white p-2 font-bold"
              *ngIf="room.floorId != 0"
            >
              <p>{{ room.floor.description }}</p>
            </div>

            <div class="h-full">
              <div class="flex justify-center font-bold text-white bg-gray-800">
                {{ room.roomName }}
              </div>
              <div class="flex flex-wrap justify-center">
                <div class="w-1/2 p-1" *ngFor="let bedspace of room.bedspaces">
                  <ng-container *ngIf="bedspace.isActive == 1; else disable">
                    <ng-container *ngIf="bedspace.status == 1; else hold">
                      <div class="bg-white hover:shadow-outline">
                        <img
                          src="assets/img/bed.png"
                          class="w-full h-full"
                          alt=""
                        />
                      </div>
                    </ng-container>
                    <ng-template #hold>
                      <ng-container *ngIf="bedspace.status == 2; else reserved">
                        <div class="bg-yellow-500 hover:shadow-outline">
                          <img
                            src="assets/img/bed.png"
                            class="w-full h-full"
                            alt=""
                          />
                        </div>
                      </ng-container>
                    </ng-template>
                    <ng-template #reserved>
                      <ng-container *ngIf="bedspace.status == 3; else rented">
                        <div class="bg-pink-500 hover:shadow-outline">
                          <img
                            src="assets/img/bed.png"
                            class="w-full h-full"
                            alt=""
                          />
                        </div>
                      </ng-container>
                    </ng-template>
                    <ng-template #rented>
                      <ng-container *ngIf="bedspace.status == 4">
                        <div class="bg-blue-500 hover:shadow-outline">
                          <img
                            src="assets/img/bed.png"
                            class="w-full h-full"
                            alt=""
                          />
                        </div>
                      </ng-container>
                    </ng-template>
                  </ng-container>
                  <ng-template #disable>
                    <ng-container>
                      <div class="bg-gray-500 hover:shadow-outline">
                        <img
                          src="assets/img/bed.png"
                          class="w-full h-full"
                          alt=""
                        />
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
