/** Don't remove comment below, or else grid layout will not work in IE */
/* autoprefixer grid: autoplace */

:host {
  display: block;
  height: 100vh;
}

.sidenav-container {
  height: 100%;
}

.layout {
  display: grid;
  height: 100%;
  overflow: hidden;
  background: #fafafa;

  grid-template-rows: auto 1fr;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "topbar topbar"
    "sidebar content";
}

.topbar {
  grid-area: topbar;
  z-index: 1;
}

.sidebar {
  grid-area: sidebar;
  overflow: auto;
}

.content {
  grid-area: content;
  overflow: auto;
}
